<!DOCTYPE html>
<html ng-app="app">
    <head>

        <title>Ronan Flávio</title>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link rel="stylesheet" type="text/css" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/angular-material/angular-material.min.css">
        <link rel="stylesheet" type="text/css" href="bower_components/Ionicons/css/ionicons.min.css">
        <link rel="stylesheet" type="text/css" href="vendor/material-design-icons/iconfont/material-icons.css">
        <link rel="stylesheet" type="text/css" href="vendor/jquery-customscroll-master/customscroll.css">
        <link rel="stylesheet" type="text/css" href="assets/css/main.css">

    </head>
    <body ng-controller="MainController">

        <div layout="column" ng-cloak>
            <md-toolbar class="md-tall" layout="row" layout-align="center center">
                <div class="md-toolbar-tools">
                    <span flex></span>
                    <span flex layout="row" layout-align="center center">
                        <div class="image-cropper image-big">
                            <img src="assets/img/profile.jpg" class="pic-profile">
                        </div>
                    </span>
                    <span flex></span>
                </div>
            </md-toolbar>

            <div class="container">

                <div class="margin-top">
                    <md-card>
                        <md-card-title>
                            <md-card-title-text class="text-center">
                                <h3 class="md-headline">Ronan Flávio</h3>
                            </md-card-title-text>
                        </md-card-title>
                        <md-card-content class="">
                            <div layout="row" layout-sm="column" layout-xs="column">
                                <div flex>
                                    <div layout-padding>
                                        <span class="md-title">Formação e Atuação</span>
                                        <p>
                                            Graduado no curso de Sistemas de Informação pela Pontifícia Universidade
                                            Católica de Minas Gerais, possui experiência e atuação no desenvolvimento
                                            de sistemas com tecnologias Web e Mobile.
                                        </p>
                                        <span class="md-title">Aplicações Servidor</span>
                                        <p>
                                            Experiência no desenvolvimento de sistemas de grande porte com a linguagem
                                            PHP e frameworks MVC (Laravel e CakePHP). Já desenvolveu sistemas
                                            como camada de serviço para solicitações com padrão REST realizadas através
                                            de clientes multiplataformas.
                                        </p>
                                        <span class="md-title">Aplicações Cliente</span>
                                        <p>
                                            Utilização do padrão REST para chamada de serviços, com o AngularJS e jQuery
                                            (AJAX), além da utilização do padrão MVC.
                                        </p>
                                        <span class="md-title">Front End</span>
                                        <p>
                                            Larga utilização de frameworks e bibliotecas Bootstrap e Material (Angular),
                                            utilizando, criando e modificando temas responsivos.
                                        </p>
                                        <span class="md-title">Aplicações Mobile</span>
                                        <p>
                                            Experiência no desenvolvimento de aplicações cross-platform utilizando o
                                            Cordova para geração da build.
                                        </p>
                                    </div>
                                </div>
                                <div flex>
                                    <div layout-padding>
                                        <span class="md-title">Dados Pessoais</span>
                                        <md-list>
                                            <div layout="row" ng-repeat="attr in person.attr">
                                                <md-list-item>
                                                    <div flex>{{attr.key}}:</div>
                                                    <div flex>{{attr.value}}</div>
                                                    <md-divider ng-if="!$last"></md-divider>
                                                </md-list-item>
                                            </div>
                                        </md-list>
                                        <span class="md-title">Skills</span>
                                        <md-chips ng-model="person.skills" readonly="true"></md-chips>
                                    </div>
                                </div>
                            </div>
                        </md-card-content>
                        <md-card-actions layout="row" layout-align="center center">
                            ...
                        </md-card-actions>
                    </md-card>
                </div>

            </div>
        </div>

        <div class="floating-button">
            <md-fab-speed-dial
                ng-hide="false"
                md-direction="up"
                md-open="isOpen"
                class="md-scale md-fab-top-right"
                ng-class=""
                ng-mouseenter="isOpen=true"
                ng-mouseleave="isOpen=false">

                <md-fab-trigger>
                    <md-button class="md-fab md-primary" aria-label="Compartilhar">
                        <i class="material-icons">share</i>
                    </md-button>
                </md-fab-trigger>
                <md-fab-actions>
                    <md-button class="md-fab md-mini md-primary" aria-label="Compartilhar no Facebook">
                        <i class="ion-social-facebook medium"></i>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Compartilhar no Linkedin">
                        <i class="ion-social-linkedin medium"></i>
                    </md-button>
                    <md-button class="md-fab md-mini md-primary" aria-label="Compartilhar no Twitter">
                        <i class="ion-social-twitter medium"></i>
                    </md-button>
                </md-fab-actions>

            </md-fab-speed-dial>

        </div>

        <script src="bower_components/jquery/dist/jquery.min.js"></script>
        <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

        <script src="bower_components/angular/angular.min.js"></script>
        <script src="bower_components/angular-animate/angular-animate.min.js"></script>
        <script src="bower_components/angular-aria/angular-aria.min.js"></script>
        <script src="bower_components/angular-material/angular-material.min.js"></script>
        <script src="bower_components/angular-messages/angular-messages.min.js"></script>
        <script src="bower_components/angular-route/angular-route.min.js"></script>
        <!-- Personal files -->
        <script src="assets/js/main.js"></script>
        <script src="vendor/jquery-customscroll-master/jquery.customscroll.js"></script>
        <script src="angular_app/components/app.js"></script>

    </body>
</html>
